* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100vh;
}

.logo {
    position: absolute;
    left: 90px;
    top: 50px;
}

.logo a {
    text-shadow: 2px 2px 30px rgb(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 2rem;
    color: #2f2e41;
    letter-spacing: 1;
}

.searchAria {
    position: fixed;
    right: 90px;
    top: 50px;
    width: 440px;
    height: 45px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 30px rgb(147, 158, 245, 0.2);
    box-sizing: border-box;
    z-index: 1;
    border: 1px solid rgba(167, 158, 245, 0.1);
}

.searchBox input {
    border: none;
    outline: none;
    width: 385px;
    height: 20px;
    background-color: transparent;
    color: #1f1f1f;
    font-family: calibri;
    font-size: 1rem;
    padding: 0 10px;
}

.searchBox input::placeholder {
    color: #1d1d1d;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: .8rem;
    font-family: poppins;
}

.section1 {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-15%, -50%);
}

.section1 img {
    width: 470px;
}

.sectionBtn {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-90%, -50%);
}

.sectionBtn h1, h2 {
    font-family: Roboto;
    font-weight: bold;
    margin: 0px;
    line-height: 60px;
    font-size: 4rem;
    text-shadow: 2px 2px 10px rgb(0, 0, 0, .08);
    letter-spacing: 3px;
    color: #3d3d4a;
    text-transform: uppercase;
}

.sectionBtn h1 {
    letter-spacing: 28px;
}

span {
    color: #7a72ff;
}

.sectionBtn button {
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    color: white;
    background-color: #3f2e41;
    font-size: 1rem;
    font-weight: 600;
    font-family: calibri;
    margin-top: 20px;
    cursor: pointer;
    transition: all ease .5s;
}

.sectionBtn button:hover {
    background-color: #7a72ff;
}

.socialArea {
    position: fixed;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, .2);
    z-index: 1;
}

.socialArea a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
}

.socialArea a i {
    color: rgb(58, 51, 51);
}

.socialArea a:hover .fa-facebook {
    color: #3b5998;
}

.socialArea a:hover .fa-twitter {
    color: #00acee;
}

.socialArea a:hover .fa-instagram {
    color: red;
}

.socialArea a:hover .fa-youtube {
    color: red;
}

/* product section start */

.section2 {
    position: relative;
    width: 85%;
    margin: 30px auto;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    margin-top: -60px;
    border-radius: 10px;
    background-size: 1000px;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
    width: 100%;
}

.productBox {
    width: 250px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
    margin: 10px 30px;
}

.productBox img {
    width: 180px;
}

.productBox p {
    color: #4d4d4d;
    font-family: myriad pro;
    font-size: .9rem;
    letter-spacing: .5;
}

.productBox a {
    color: #2c2c2c;
    font-family: poppins;
    font-size: 1rem;
}

.addToCardBtn {
    position: absolute;
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    background: linear-gradient(120deg, #6b60ec 20%, #a166f4);
    border-radius: 20px;
    font-family: calibri;
    margin-bottom: -233px;
    display: none;
    /* animation: fade .2s; */
}

.productBox:hover .addToCardBtn {
    display: block;
    color: white;
}

.productBox:hover {
    box-shadow: 2px 2px 30px rgb(0, 0, 0, 0.1);
    background-color: #fff;
}

/* product section end */

/* About section start */

.about-section {
    width: 85%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin-bottom: 150px;
}

.aboutBox {
    width: 40%;
}

.aboutBox img {
    width: 100%;
}

.aboutBox h2 {
    color: #333333;
    font-size: 3rem;
    font-weight: 700;
    margin: 0px;
}

.aboutBox h3 {
    color: #333333;
    font-size: 2rem;
    font-weight: 400;
    margin: 10px auto;
}

.aboutBox p {
    font-size: 1rem;
    color: #bdbdbd;
    letter-spacing: .5px;
}

/* About section end */

/* Subscribe Sectioon */

.subscribe-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
}

.subscribe-section h2 {
    font-size: 1.5rem;
    color: #333333;
    text-transform: capitalize;
}

.subscribeBox {
    margin: 20px auto;
}

.subscribeBox input {
    width: 250px;
    height: 30px;
    border: none;
    outline: none;
    padding: 0px 10px;
    border-bottom: 1px solid gray;
}

.subscribeBox a {
    background-color: #202020;
    color: white;
    padding: 8px 20px;
    border-radius: 20px;
    margin-left: 20px;
}

.subscribeBox a:hover {
    background-color: #6b60ec;
}

footer {
    background-color: #333333;
    padding: 40px;
}

footer p {
    color: white;
    text-align: center;
}

/* For Mobile view */

@media (max-width:667px) {
    .logo {
        left: 50%;
        /* top: 0%; */
        transform: translate(-50%);
        top: 5px;
    }
    .logo a {
        font-size: 1.6rem;
    }
    .searchAria {
        position: fixed;
        top: 8%;
        left: 35px;
        right: auto;
        width: 85%;
        padding: 2px 5px;
        margin: 0px auto;
        /* transform: translate(-50%, -8%); */
        border-radius: 5px;
    }
    .section1 {
        left: 50%;
        top: 25%;
        transform: translate(-50%, -25%);
    }
    .section1 img {
        width: 290px;
    }
    .socialArea {
        top: 50%;
        left: 10px;
    }
    .searchBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .searchBox input {
        /* border: none;
    outline: none;
    width: 90px;
    height: 20px;
    background-color: transparent;
    color: #1f1f1f;
    font-family: calibri;
    font-size: 1rem; */
        width: 260px;
    }
    /* 
.searchBox input::placeholder {
    color: #1d1d1d;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: .8rem;
    font-family: poppins;
} */
    /*  */
    .sectionBtn {
        position: absolute;
        top: 70%;
        left: 60%;
        transform: translate(-60%, -70%);
    }
    .sectionBtn h1, h2 {
        line-height: 20px;
        font-size: 16px;
    }
    .sectionBtn h1 {
        letter-spacing: 21px;
    }
    .section2 {
        margin-top: -85px;
    }
    .about-section {
        width: 100%;
        margin: 20px auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: 0;
        margin-bottom: 130px;
    }
    .aboutBox {
        width: 90%;
        margin-top: 20px;
    }
    .aboutBox h2 {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
    }
    .aboutBox h3 {
        font-size: 17px;
        font-weight: 500;
    }
    .aboutBox p {
        font-size: .8rem;
        text-align: justify;
    }
    .aboutBox img {
        margin-top: 30px;
    }
    .subscribe-section h2 {
        text-align: center;
        font-size: 1rem;
    }
    .subscribeBox input {
        width: 56%;
    }
}